@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@mixin nunito($weight-value:100){
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight-value;
    font-style: normal;
}