@import '../../../Scss/colors';
.ModalChangePassword{
    background-color: #29292979;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_container {
        width: 500px;
        background-color: white;
    }
}