.Avatar{
    img{
       border-radius: 50%;
        width: 100% !important;
        object-fit :cover;
    }
    .none-round{
        border-radius: 0% !important;
    }
    .w-75 {
        width: 75% !important;
    }
    .w-50 {
        width: 50% !important;
    }
    .small{
        width: 38px !important;
        height: 38px !important;
    }
    .normal{
        width: 46px !important;
        height: 46px !important;
    }
    .big{
        width: 68px !important;
        height: 68px !important;
    }
    .bigger{
        width: 148px !important;
        height: 148px !important;
    }
    .biggest{
        width: 200px !important;
        height: 200px !important;
    }
}
