.Avatar{
    img{
        border-radius: 50%;
        width: 100%;
        object-fit :cover;
    }
    .small{
        width: 38px;
        height: 38px;
    }
    .normal{
        width: 46px;
        height: 46px;
    }
    .big{
        width: 68px;
        height: 68px;
    }
    .bigger{
        width: 148px;
        height: 148px;
    }
    .biggest{
        width: 200px;
        height: 200px;
    }
}
