.Header {
    background-color: #ffffff;
    border-bottom: 1px solid #d7d7d7;
    .nav-link {
      color: #495057;
      &:hover {
        color: #007bff;
      }
    }
  
    .icon-size {
      font-size: 1.5rem;
    }
  
    .avatar {
      border: 1px solid #dee2e6;
    }
  }