.header {
    background-color: #d5e7f6;
  
    .nav-link {
      color: #495057;
      &:hover {
        color: #007bff;
      }
    }
  
    .icon-size {
      font-size: 1.5rem;
    }
  
    .avatar {
      border: 1px solid #dee2e6;
    }
  }